name: CI Pipeline

trigger:
  branches:
    include:
    - Development

pool:
  name: 'UCLM-Sonar-scanner-Host'

stages:
- stage: Build
  displayName: 'Build Stage'
  jobs:
  - job: CompileAndBuild
    displayName: 'Install dependencies and Build Angular project'
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: '20.x'
      displayName: 'Install Node.js'
    - script: |
        npm install -g @angular/cli
        npm install
        ng build --configuration production
      displayName: 'npm install and build'

- stage: Sonarqube
  displayName: Sonarqube Analysis
  jobs:
  - job: Analysis
    steps:
    - script: sonar-scanner -D sonar.token=$(SONAR_TOKEN)
      displayName: 'Run SonarQube Scanner'